{% extends 'base.html.twig' %}
{% block title %}Restaurante{% endblock %}

{% block body %}
    <h1>Restaurante</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Código del restaurante</th>
                <td>{{ restaurante.codRes }}</td>
            </tr>
            <tr>
                <th>Correo</th>
                <td>{{ restaurante.correo }}</td>
            </tr>
            <tr>
                <th>Clave</th>
                <td>{{ restaurante.clave }}</td>
            </tr>
            <tr>
                <th>País</th>
                <td>{{ restaurante.pais }}</td>
            </tr>
            <tr>
                <th>Código postal</th>
                <td>{{ restaurante.cp }}</td>
            </tr>
            <tr>
                <th>Ciudad</th>
                <td>{{ restaurante.ciudad }}</td>
            </tr>
            <tr>
                <th>Dirección</th>
                <td>{{ restaurante.direccion }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('restaurante_index') }}" class="volver">Volver a la lista</a>

    <a href="{{ path('restaurante_edit', {'codRes': restaurante.codRes}) }}" class="editar">Editar</a>

    {{ include('restaurante/_delete_form.html.twig') }}
{% endblock %}
